220921-ALWAYS-MUSIC/alwaysMusic/.env
220921-ALWAYS-MUSIC/alwaysMusic/node_modules

230921-ALWAYS-MUSIC-2.0/alwaysMusic-2.0/.env
230921-ALWAYS-MUSIC-2.0/alwaysMusic-2.0/node_modules

270921-MI-BANCO/miBanco/.env
270921-MI-BANCO/miBanco/node_modules

280921-MI-REPERTORIO/miRepertorio/.env
280921-MI-REPERTORIO/miRepertorio/node_modules
